.chair__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.chair__list__item {
    max-width: 250px;
}

.news__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.news {
    width: 250px;
}

.info__pills__list {
    flex-direction: row;
    justify-content: center;
}

.banner__buttons {
    flex-direction: row;
}

.nav__menu {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

/* - - - - Media Querys - - - - */

@media screen and (min-width: 650px) {
    section  {
        max-width: 650px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 700px) {
    section  {
        max-width: 750px;
    }
}